# Make Executables
ex11/ex11
ex11/ex11_reverse

ex10/ex10_copy2
ex10/ex10_copy_argv
ex10/ex10_high
ex10/ex10

ex9/ex9b
ex9/init_number1
ex9/ex9

ex8/ex8
ex8/ex8_v2

# Temp files
ex8/*.swp
*.swp

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
